h1 {
  padding: 0 0 0.5em 0;
}

button {
  border-radius: 0;
  border: 1px solid #e2e2ee;
  padding: 1em 0.5em 1em 0.5em;
  font-size: 1em;
  font-weight: 600;
}

button:hover {
  background-color: rgb(223, 223, 223);
}

button.div1 {
  background-color: #74c3d9;
}

button.div1:hover {
  background-color: #7ecde3;
}

button.div2 {
  background-color: #ed9b4a;
}

button.div2:hover {
  background-color: #e3b282;
}

button.div18 {
  background-color: #78ed80;
}

button.div18:hover {
  background-color: #acebb0;
}

.calc-grid {
  background-color: #fff;
  padding: 5%;
  box-shadow: 4px 7px 17px 4px #bdbdbd;
}

.wrapper {
  padding: 2% 30% 15% 30%;
  word-wrap: break-word;
}

.result {
  background-color: #fff;
  text-align: right;
  min-height: 2em;
  font-size: 2em;
  font-weight: bold;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
}
.div3 {
  grid-area: 1 / 4 / 2 / 5;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
.div7 {
  grid-area: 2 / 4 / 3 / 5;
}
.div8 {
  grid-area: 3 / 1 / 4 / 2;
}
.div9 {
  grid-area: 3 / 2 / 4 / 3;
}
.div10 {
  grid-area: 3 / 3 / 4 / 4;
}
.div11 {
  grid-area: 3 / 4 / 4 / 5;
}
.div12 {
  grid-area: 4 / 1 / 5 / 2;
}
.div13 {
  grid-area: 4 / 2 / 5 / 3;
}
.div14 {
  grid-area: 4 / 3 / 5 / 4;
}
.div15 {
  grid-area: 4 / 4 / 5 / 5;
}
.div16 {
  grid-area: 5 / 1 / 6 / 2;
}
.div17 {
  grid-area: 5 / 2 / 6 / 3;
}
.div18 {
  grid-area: 5 / 3 / 6 / 5;
}
